<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica Contatto</title>
</head>

<body>
    <form th:action="@{'/contatti/' + ${contatto.id} + '/edit'}" th:object="${contatto}"  method="post">    
        <label>Nome</label>
        <input type="text" name="Nome" placeholder="Modifica nome... " th:field="*{nome}"> 
        <input type="text" name="Cognome" placeholder="Modifica cognome..." th:field="*{cognome}">
        <input type="text" name="Telefono" placeholder="Modifica telefono..." th:field="*{telefono}">
        <input type="submit" value="Modifica Contatto">
    </form>
    

</body>

</html>